*.swp
logs
localrc
remoterc
project/project
project/target
mods
target
tmp
change.json
approver.json
.history
*.event
*.json
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.jar
/bin/
